div {
  background-color: #EAF6F6
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.top-container {
  background-color: #EAF6F6
}

.middle-container {

}

.bottom-container {

}

.pro {
  text-decoration: underline;
}
